.app-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image: url("https://assets.ccbp.in/frontend/react-js/reviews-bg.png");
    height:100vh;
    background-size:cover;
}
.heading{
    color:#ffffff;
    font-family:'Roboto';
    font-size:40px;
    font-weight:500;
    margin-top:65px;
}
@media screen and(min-width:768px){
    .review-heading{
        font-size:50px;
        margin-top:150px;

    }
}
.carousel-container{
    display:flex;
    align-items:center;
    width:80%;
}
@media screen and (min-width:768px){
    .carousel-container{
        width:45%;
        max-width: 622px;
    }
}
.arrow-button{
    background: transparent;
    border:none;
    outline:none;
    cursor: pointer;
}
.review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
}
.username{
    color:#ffffff;
    font-family:'Roboto';
    font-size:18px;
    font-weight: 700;
}
.company{
    color:#171f46;
    font-family:'Roboto';
    font-size:14px;
}
.description{
    color:#171f46;
    font-family:'Roboto';
    text-align: center;
    font-size:16px;
}
